* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navigation bar */

ul {
    list-style-type: none;
    text-align: center;
}

.nav {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #12BB97;
}

nav.nav a.logo img {
      padding-top: 0px;
      height: 50px;
      padding-bottom: 0px;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav .icon {
    display: none;
}

.nav a.logo img {
    float: left;
}
.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
   .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
   body{
       overflow-x: hidden;
   }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #12BB97;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;

    }
}
.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
ul {
    list-style-type: none;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #E96435;;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.box1 {
    height: 70vh;
    width: 100%;
    background-image: url(assets/hatchiko-wide.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.aboutTitle h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: white;
    margin: 0px;
    text-align: center;
}

.aboutTitle p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0px;
    text-align: left;
    padding: 40px 10px 40px 40px;
    background: #143D47;
}

.about {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0px;
    text-align: left;
    padding: 40px 10px 40px 40px;
}

.statue p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0px;
    text-align: left;
    padding: 40px 10px 40px 40px;
}

.box2 {
    height: 70vh;
    width: 100%;
    background-image: url(assets/Hachiko2.png);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box3 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/haichkostatue.png);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

