
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #12BB97;
    font-family: 'Poppins', sans-serif;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 10px 0px 10px 30px;
}
.logo img{
    height:8vh;
    width:8vh;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 200%;
}
.nav-links li {
    list-style: none;
    padding-right: 10px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
   .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
   body{
       overflow-x: hidden;
   }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #12BB97;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;

    }
}
.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
body {
    text-align: center;
}
ul {
    list-style-type: none;
}

.landing {
    height: 70vh; 
    background-color: #464655;
    display: block;
    text-align: center;
}

label {
    font-family: 'Poppins', sans-serif;
    color: #143D47;
    font-size: 20px;
    display: block;
    padding: 20px;
    font-weight: bold;
}
.searchCategories{
    width: 150px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
  }

  select:hover {
      cursor: pointer;
  }
  
  .searchCategories .select select{
    font-family: 'Poppins', sans-serif;
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }

.petSearch {
    background-image: linear-gradient(to right,rgba(255, 214, 153, 0.3),rgba(255, 184, 77, 0.3)), url(images/dog-paws.jpg);
    background-size: cover;
    height: 400px;
    width: 900px;
    display: inline-block;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55vh;
    text-align: center; 
    border-radius: 6px;  
}
.submitButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-color: #E96435;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #E96435;
    color: white;
}

.submitButton:hover {
    cursor: pointer;
}

.three-box {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #143D47;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.btn {
    height: 60px;
    width: 200px;
    background-color: #12BB97;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 80px 80px 80px 80px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.btn1,.btn2,.btn3 {
    color: black;
}

.btn1:hover,.btn2:hover,.btn3:hover {
    background-color: #143D47;
    color: #12BB97;
}

.extraClass {
    font-size: 100px;
    color: #fff;
}

.about-us {
    height: 100vh;
    background-color: darkgrey;
}
.pet-quiz {
    height: 100vh;
    background-color: lightgray;
}

.more-info {
    height: 100vh;
    background-color: lightgrey;
}

.pic-collage {
    height: 100vh;
    background-color: #E96435;
}

/* Contact Us */
.contact-us {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: #464655;
  }

.contact-us h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

input[type=text], select, textarea{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    padding: 8px 8px 8px 0px;
    display: inline-block;
    color: white;
    margin: 50px 5px 5px 15px;
  }
  
  input[type=submit] {
    background-color: #E96435;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
.footer {
    height:20vh;
}